{"openapi":"3.1.0","info":{"title":"Krea API","version":"v1"},"tags":[{"name":"General","description":"Core API operations including job management and billing information"},{"name":"Assets","description":"Asset management endpoints for uploading and managing images, videos, audio files, and 3D models"},{"name":"Styles","description":"Style (LoRA) generation and management endpoints"},{"name":"Node Apps","description":"Executing custom node apps built in our nodes tool"},{"name":"Image","description":"Image generation endpoints"},{"name":"Image Enhance","description":"Image enhance endpoints"},{"name":"Video","description":"Video generation endpoints"}],"servers":[{"url":"https://api.krea.ai","description":"Krea API"}],"security":[{"bearerAuth":[]}],"paths":{"/jobs":{"get":{"tags":["General"],"summary":"List jobs","description":"List jobs with pagination and filtering. Returns jobs belonging to the authenticated user.","parameters":[{"in":"query","name":"cursor","description":"ISO 8601 timestamp cursor for pagination (jobs created before this time)","schema":{"type":"string","format":"date-time","description":"ISO 8601 timestamp cursor for pagination (jobs created before this time)"}},{"in":"query","name":"limit","description":"Number of items to return (1-1000, default: 100)","schema":{"type":"integer","minimum":1,"maximum":1000,"default":100,"description":"Number of items to return (1-1000, default: 100)"}},{"in":"query","name":"types","description":"Comma-separated list of job types to filter (e.g., \"flux,k1,externalImage\")","schema":{"type":"string","description":"Comma-separated list of job types to filter (e.g., \"flux,k1,externalImage\")"}},{"in":"query","name":"status","description":"Filter by job status","schema":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"],"description":"Filter by job status"}}],"responses":{"200":{"description":"List of jobs","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time"},"result":{"type":"object","properties":{"urls":{"type":"array","items":{"type":"string","format":"uri"}},"style_id":{"type":"string"}}}},"required":["job_id","status","created_at"]}},"next_cursor":{"type":["string","null"]}},"required":["items","next_cursor"]}}}},"400":{"description":"Invalid query parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/jobs/{id}":{"get":{"tags":["General"],"summary":"Get a job by ID","parameters":[{"in":"path","name":"id","description":"A unique identifier for a job","schema":{"type":"string","description":"A unique identifier for a job","example":"4d0e5f97-9721-4422-b88c-73a9032d7de1"},"required":true}],"responses":{"200":{"description":"The most up-to-date state of the job. You can check when the job is completed by checking the `status` field. For completed loraTraining jobs, the result will include a `style_id` field.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time"},"result":{"type":"object","properties":{"urls":{"type":"array","items":{"type":"string","format":"uri"}},"style_id":{"type":"string"}}}},"required":["job_id","status","created_at"]}}}},"404":{"description":"The job was not found or the client is not authorized to see it","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"delete":{"tags":["General"],"summary":"Delete a job by ID","parameters":[{"in":"path","name":"id","description":"A unique identifier for a job","schema":{"type":"string","description":"A unique identifier for a job","example":"4d0e5f97-9721-4422-b88c-73a9032d7de1"},"required":true}],"responses":{"200":{"description":"The job was deleted successfully"},"404":{"description":"The job was not found or the client is not authorized to delete it","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/assets":{"post":{"tags":["Assets"],"summary":"Upload an asset","description":"Upload a new asset (image, video, audio, or 3D model). Accepts multipart/form-data with a file and optional description. Maximum file size: 75MB.","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","description":"The file to upload (JPEG, PNG, WebP, HEIC, MP4, MOV, WebM, GLB, WAV, MP3). Maximum size: 75MB.","format":"binary"},"description":{"type":"string","description":"Optional description for the asset"}},"required":["file"]}}}},"responses":{"200":{"description":"Asset uploaded successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"image_url":{"type":"string","format":"uri"},"uploaded_at":{"type":"string","format":"date-time"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"size_bytes":{"type":["number","null"]},"mime_type":{"type":["string","null"]},"description":{"type":"string"},"metadata":{}},"required":["id","image_url","uploaded_at","width","height","size_bytes","mime_type"]}}}},"400":{"description":"Invalid file type or size","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"get":{"tags":["Assets"],"summary":"List assets","description":"List assets with pagination.","parameters":[{"in":"query","name":"limit","description":"Number of items to return (1-1000, default: 100)","schema":{"type":"integer","minimum":1,"maximum":1000,"description":"Number of items to return (1-1000, default: 100)"}},{"in":"query","name":"cursor","description":"Cursor for pagination","schema":{"type":"string","format":"date-time","description":"Cursor for pagination"}}],"responses":{"200":{"description":"List of assets","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"image_url":{"type":"string","format":"uri"},"uploaded_at":{"type":"string","format":"date-time"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"size_bytes":{"type":["number","null"]},"mime_type":{"type":["string","null"]},"description":{"type":"string"},"metadata":{}},"required":["id","image_url","uploaded_at","width","height","size_bytes","mime_type"]}},"next_cursor":{"type":["string","null"]}},"required":["items","next_cursor"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/assets/{id}":{"get":{"tags":["Assets"],"summary":"Get an asset","description":"Get a single asset by ID","parameters":[{"in":"path","name":"id","description":"Asset ID","schema":{"type":"string","format":"uuid","description":"Asset ID"},"required":true}],"responses":{"200":{"description":"Asset details","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"image_url":{"type":"string","format":"uri"},"uploaded_at":{"type":"string","format":"date-time"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"size_bytes":{"type":["number","null"]},"mime_type":{"type":["string","null"]},"description":{"type":"string"},"metadata":{}},"required":["id","image_url","uploaded_at","width","height","size_bytes","mime_type"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"delete":{"tags":["Assets"],"summary":"Delete an asset","description":"Delete an asset.","parameters":[{"in":"path","name":"id","description":"Asset ID","schema":{"type":"string","format":"uuid","description":"Asset ID"},"required":true}],"responses":{"200":{"description":"Asset deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["success","message"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Asset not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/styles/train":{"post":{"tags":["Styles"],"summary":"Train a custom style (LoRA)","description":"Train a custom style (LoRA) with simplified parameters. Uses intelligent defaults based on the training type (Default/Style/Object/Character).\n\n**Note:** Trained styles are private and only usable by the API user that created them. To allow other workspace members to use the style, share it with the workspace using `POST /styles/{id}/share/workspace`.\n| Model | Compute Units/Step |\n|-------|-------------------|\n| **qwen** | ~8.3 |\n| **wan22** | ~5.3 |\n| **flux_schnell** | ~3.4 |\n| **wan** | ~3.4 |\n| **flux_dev** | ~3.0 |\n| **z-image** | ~2.4 |","parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"model":{"type":"string","enum":["flux_dev","flux_schnell","wan","wan22"],"default":"flux_dev"},"type":{"type":"string","enum":["Style","Object","Character","Default"],"default":"Default"},"name":{"type":"string"},"urls":{"type":"array","items":{"type":"string","format":"uri"}},"trigger_word":{"type":"string"},"learning_rate":{"type":"number"},"max_train_steps":{"type":"integer","minimum":1,"maximum":2000},"batch_size":{"type":"integer","minimum":1}},"required":["name","urls"]},{"type":"object","properties":{"model":{"type":"string","enum":["qwen","z-image"]},"type":{"type":"string","enum":["Style","Object","Character"],"default":"Style"},"name":{"type":"string"},"urls":{"type":"array","items":{"type":"string","format":"uri"}},"trigger_word":{"type":"string"},"max_train_steps":{"type":"integer","minimum":1,"maximum":2000}},"required":["model","name","urls"]}]}}}},"responses":{"200":{"description":"Training job created successfully. The job will be in a pending state until completed. Use /jobs/{id} to check progress.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"Insufficient credits","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"Maximum number of concurrent jobs reached","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/styles":{"get":{"tags":["Styles"],"summary":"Search styles","description":"List styles with pagination and filtering. Returns public styles, user-created styles, or shared styles based on the filter parameter.","parameters":[{"in":"query","name":"cursor","schema":{"type":"string"}},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":1000}},{"in":"query","name":"ids","schema":{"type":"string"}},{"in":"query","name":"liked","schema":{"type":"boolean","default":false}},{"in":"query","name":"user","schema":{"type":"string"}},{"in":"query","name":"model","schema":{"type":"string"}},{"in":"query","name":"filter","schema":{"type":"string","enum":["all","user","community","krea","shared","unapproved","editor","gallery","public"],"default":"all"}}],"responses":{"200":{"description":"List of styles","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the style"},"title":{"type":["string","null"],"description":"Name of the style"},"urls":{"type":"array","items":{"type":"string","format":"uri"},"description":"Portrait-oriented preview URLs"},"public":{"type":"boolean","description":"Whether the style is publicly visible"},"cover_url":{"type":["string","null"],"format":"uri","description":"Cover image URL"},"prompt":{"type":"string","description":"Suggested prompt for using this style"},"models":{"type":"array","items":{"type":"string"},"description":"Compatible model names (e.g., flux_dev, wan)"},"owner":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"avatar_url":{"type":["string","null"],"format":"uri"}},"required":["id","name"],"description":"Style creator info (null for Krea-official styles)"},"like_count":{"type":"number","description":"Number of likes"},"created_at":{"type":"string","description":"Creation timestamp"}},"required":["id","title","urls","public","prompt","owner","like_count","created_at"],"description":"Style response schema"}},"next_cursor":{"type":["string","null"]}},"required":["items","next_cursor"]}}}},"400":{"description":"Invalid query parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/styles/{id}":{"get":{"tags":["Styles"],"summary":"Get a single style by ID","description":"Get a single style by ID. Returns public styles or your own private styles.","parameters":[{"in":"path","name":"id","description":"A unique identifier for a style","schema":{"type":"string","description":"A unique identifier for a style","example":"a816d79d-55c9-43ee-81c3-8330ffe79e6c"},"required":true}],"responses":{"200":{"description":"Style details","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the style"},"title":{"type":["string","null"],"description":"Name of the style"},"urls":{"type":"array","items":{"type":"string","format":"uri"},"description":"Portrait-oriented preview URLs"},"public":{"type":"boolean","description":"Whether the style is publicly visible"},"cover_url":{"type":["string","null"],"format":"uri","description":"Cover image URL"},"prompt":{"type":"string","description":"Suggested prompt for using this style"},"models":{"type":"array","items":{"type":"string"},"description":"Compatible model names (e.g., flux_dev, wan)"},"owner":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"avatar_url":{"type":["string","null"],"format":"uri"}},"required":["id","name"],"description":"Style creator info (null for Krea-official styles)"},"like_count":{"type":"number","description":"Number of likes"},"created_at":{"type":"string","description":"Creation timestamp"}},"required":["id","title","urls","public","prompt","owner","like_count","created_at"],"description":"Style response schema"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Style not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"patch":{"tags":["Styles"],"summary":"Update a style","description":"Update style properties. Currently supports updating the public visibility of a style you own.","parameters":[{"in":"path","name":"id","description":"A unique identifier for a style","schema":{"type":"string","description":"A unique identifier for a style","example":"a816d79d-55c9-43ee-81c3-8330ffe79e6c"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"public":{"type":["boolean","null"]},"urls":{"type":"array","items":{"type":"string","format":"uri"}},"title":{"type":"string"},"cover_url":{"type":"string"}}}}}},"responses":{"200":{"description":"Style updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the style"},"title":{"type":["string","null"],"description":"Name of the style"},"urls":{"type":"array","items":{"type":"string","format":"uri"},"description":"Portrait-oriented preview URLs"},"public":{"type":"boolean","description":"Whether the style is publicly visible"},"cover_url":{"type":["string","null"],"format":"uri","description":"Cover image URL"},"prompt":{"type":"string","description":"Suggested prompt for using this style"},"models":{"type":"array","items":{"type":"string"},"description":"Compatible model names (e.g., flux_dev, wan)"},"owner":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"avatar_url":{"type":["string","null"],"format":"uri"}},"required":["id","name"],"description":"Style creator info (null for Krea-official styles)"},"like_count":{"type":"number","description":"Number of likes"},"created_at":{"type":"string","description":"Creation timestamp"}},"required":["id","title","urls","public","prompt","owner","like_count","created_at"],"description":"Style response schema"}}}},"400":{"description":"No valid fields to update","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Style not found or you are not the owner","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/styles/{id}/share/link":{"get":{"tags":["Styles"],"summary":"Get a shareable link for a style","description":"Generate or retrieve a shareable link for a style you own. The link allows others to access the style.","parameters":[{"in":"path","name":"id","description":"A unique identifier for a style","schema":{"type":"string","description":"A unique identifier for a style","example":"a816d79d-55c9-43ee-81c3-8330ffe79e6c"},"required":true}],"responses":{"200":{"description":"Shareable link retrieved (existing link)","content":{"application/json":{"schema":{"type":"object","properties":{"share_link":{"type":"string","format":"uri","description":"Shareable URL for the style"},"is_new":{"type":"boolean","description":"Whether the share link is new"}},"required":["share_link","is_new"],"description":"Response containing a shareable link for a style"}}}},"201":{"description":"Shareable link created (new link)","content":{"application/json":{"schema":{"type":"object","properties":{"share_link":{"type":"string","format":"uri","description":"Shareable URL for the style"},"is_new":{"type":"boolean","description":"Whether the share link is new"}},"required":["share_link","is_new"],"description":"Response containing a shareable link for a style"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Style not found or you are not the owner","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/styles/{id}/share/workspace":{"post":{"tags":["Styles"],"summary":"Share a style with your workspace","description":"Share a style you own with your API workspace. All members of the workspace will be able to use the style.","parameters":[{"in":"path","name":"id","description":"A unique identifier for a style","schema":{"type":"string","description":"A unique identifier for a style","example":"a816d79d-55c9-43ee-81c3-8330ffe79e6c"},"required":true}],"responses":{"200":{"description":"Style shared with workspace successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the operation succeeded"},"style_id":{"type":"string","description":"The ID of the shared style"},"workspace":{"type":"object","properties":{"id":{"type":"string","description":"Workspace ID"},"name":{"type":["string","null"],"description":"Workspace name"},"is_default":{"type":"boolean","description":"Whether this is the default workspace"}},"required":["id","name","is_default"],"description":"The workspace the style was shared with"}},"required":["success","style_id","workspace"],"description":"Response after sharing a style within a workspace"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"You do not own this style or are not a member of the workspace","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Style not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"delete":{"tags":["Styles"],"summary":"Remove a style from your workspace","description":"Remove a style you own from your API workspace. Workspace members will no longer have access to the style.","parameters":[{"in":"path","name":"id","description":"A unique identifier for a style","schema":{"type":"string","description":"A unique identifier for a style","example":"a816d79d-55c9-43ee-81c3-8330ffe79e6c"},"required":true}],"responses":{"200":{"description":"Style removed from workspace successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"You do not own this style","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Style not found or not shared with this workspace","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/node-apps/{id}":{"get":{"tags":["Node Apps"],"summary":"Get a node app by version ID","description":"Get a single node app by version ID. Returns the node app details including input/output schemas.","parameters":[{"in":"path","name":"id","description":"Node app version ID","schema":{"type":"string","description":"Node app version ID"},"required":true}],"responses":{"200":{"description":"Node app details","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the node app"},"author_id":{"type":"string","description":"ID of the node app author"},"workspace_id":{"type":"string","description":"ID of the workspace that owns the node app"},"name":{"type":"string","description":"Name of the node app"},"slug":{"type":"string","description":"URL-friendly identifier for the node app"},"description":{"type":"string","description":"Description of the node app"},"scope":{"type":"string","description":"Visibility scope: \"public\", \"user\", or \"workspace\""},"created_at":{"type":"string","description":"Creation timestamp"},"updated_at":{"type":"string","description":"Last update timestamp"},"last_version_id":{"type":"string","description":"ID of the latest version of the node app"},"version":{"type":"number","description":"Selected node app version number"},"version_created_at":{"type":["string","null"],"description":"Creation timestamp of the latest version"},"username":{"type":"string","description":"Username of the node app creator"},"example_outputs":{"type":["array","null"],"items":{"type":"string"},"description":"Example output URLs"},"input_openapi_schema":{"type":["object","null"],"properties":{"type":{"type":"string","const":"object"},"properties":{"type":"object","additionalProperties":{"type":"object","additionalProperties":true}},"required":{"type":"array","items":{"type":"string"}}},"required":["type","properties"],"description":"OpenAPI 3.1 JSON Schema for input parameters"},"output_openapi_schema":{"type":["object","null"],"properties":{"type":{"type":"string","const":"object"},"properties":{"type":"object","additionalProperties":{"type":"object","additionalProperties":true}},"required":{"type":"array","items":{"type":"string"}}},"required":["type","properties"],"description":"OpenAPI 3.1 JSON Schema for output values"},"input_key_mapping":{"type":["object","null"],"additionalProperties":{"type":"string"},"description":"Maps OpenAPI input keys to internal keys for execution"},"output_key_mapping":{"type":["object","null"],"additionalProperties":{"type":"string"},"description":"Maps internal output keys (nodeId-handleId) to API keys"}},"required":["id","author_id","workspace_id","name","slug","description","scope","created_at","updated_at","last_version_id","version","version_created_at","username","example_outputs","input_openapi_schema","output_openapi_schema","input_key_mapping","output_key_mapping"],"description":"Node app response schema"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Node app not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/node-apps/{id}/execute":{"post":{"tags":["Node Apps"],"summary":"Execute a node app","description":"Execute a node app by version ID. The request body should contain the input data as a JSON object matching the node app's input schema. Returns a job that can be tracked using /jobs/{id}.","parameters":[{"in":"path","name":"id","description":"Node app version ID","schema":{"type":"string","description":"Node app version ID"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Input data for the node app execution, matching the node app's input schema"}}}},"responses":{"200":{"description":"Execution job created successfully. The job will be in a processing state until completed. Use /jobs/{id} to check progress.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time"},"result":{"type":"object","properties":{"urls":{"type":"array","items":{"type":"string","format":"uri"}},"style_id":{"type":"string"}}}},"required":["job_id","status","created_at"]}}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Node app version not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/bfl/flux-1-dev":{"post":{"tags":["Image"],"description":"Fast model. Best for LoRAs.\n| Compute Units | Average Completion Time |\n|---------------|-------------------------|\n| ~3 | ~7 seconds |\n> **Deprecated request fields:**\n>\n> - `imageUrl` -> `image_url` until 2026-06-19\n> - `presetStyles` -> `styles` until 2026-06-19\n> - `styleImages` -> `style_images` until 2026-06-19\n> - `imageStyleRefs` -> `image_style_references` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"Flux","x-krea-deprecated-field-aliases":[{"from":"imageUrl","to":"image_url","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"presetStyles","to":"styles","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"styleImages","to":"style_images","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"imageStyleRefs","to":"image_style_references","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","maxLength":1800},"strength":{"type":"number","default":1},"seed":{"type":"number","default":3317551338},"steps":{"type":"integer","minimum":1,"maximum":100,"default":25},"width":{"type":"number","minimum":512,"maximum":2368,"default":1024},"height":{"type":"number","minimum":512,"maximum":2368,"default":1024},"guidance_scale_flux":{"type":"number","minimum":0,"maximum":24,"default":3},"image_url":{"type":["string","null"],"format":"uri"},"styles":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"strength":{"type":"number","minimum":-2,"maximum":2}},"required":["id","strength"]},"description":"Styles (typically LoRAs) to use for the generation"},"style_images":{"type":"array","items":{"type":"object","properties":{"strength":{"type":"number","minimum":-2,"maximum":2},"url":{"type":"string","format":"uri"}},"required":["strength"]},"description":"Image prompts to use for the generation"},"image_style_references":{"type":"array","items":{"type":"object","properties":{"strength":{"type":"number","minimum":-2,"maximum":2},"url":{"type":"string","format":"uri"}},"required":["strength"]},"description":"Style references to use for the generation"}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"An anime-inspired cyberpunk market in Neo Tokyo's heart."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/bfl/flux-1-kontext-dev":{"post":{"tags":["Image"],"description":"Frontier model designed for image editing, optimized for Krea\n| Compute Units | Average Completion Time |\n|---------------|-------------------------|\n| ~6 | ~23 seconds |\n> **Deprecated request fields:**\n>\n> - `imageUrl` -> `image_url` until 2026-06-19\n> - `styleImages` -> `style_images` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"Flux Kontext","x-krea-deprecated-field-aliases":[{"from":"imageUrl","to":"image_url","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"styleImages","to":"style_images","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","maxLength":1800},"strength":{"type":"number","default":1},"seed":{"type":"number","default":3261419148},"steps":{"type":"integer","minimum":1,"maximum":100,"default":25},"width":{"type":"number","minimum":512,"maximum":2368,"default":1024},"height":{"type":"number","minimum":512,"maximum":2368,"default":1024},"guidance_scale_flux":{"type":"number","minimum":0,"maximum":24,"default":3},"image_url":{"type":["string","null"],"format":"uri"},"style_images":{"type":"array","items":{"type":"object","properties":{"strength":{"type":"number","minimum":-2,"maximum":2},"url":{"type":"string","format":"uri"}},"required":["strength"]},"maxItems":1,"description":"Image prompts to use for the generation"}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"Treehouses in the Amazon, woven amidst emerald canopies."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/google/nano-banana-pro":{"post":{"tags":["Image"],"description":"World's most intelligent model.\n| Resolution | Compute Units |\n|------------|---------------|\n| 1K | 60.1 |\n| 2K | 60.1 |\n| 4K | 120 |\n> **Deprecated request fields:**\n>\n> - `imageUrls` -> `image_urls` until 2026-06-19\n> - `aspectRatio` -> `aspect_ratio` until 2026-06-19\n> - `styleImages` -> `style_images` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"Nano Banana Pro","x-krea-deprecated-field-aliases":[{"from":"imageUrls","to":"image_urls","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"aspectRatio","to":"aspect_ratio","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"styleImages","to":"style_images","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":3},"width":{"type":"number","description":"Width of the generated image."},"height":{"type":"number","description":"Height of the generated image."},"image_urls":{"type":"array","items":{"type":"string","format":"uri"},"description":"Image prompts to use for the generation. If provided, style images are ignored."},"aspect_ratio":{"type":"string","enum":["21:9","1:1","4:3","3:2","2:3","5:4","4:5","3:4","16:9","9:16"]},"resolution":{"type":"string","enum":["1K","2K","4K"],"default":"1K"},"style_images":{"type":"array","items":{"type":"object","properties":{"strength":{"type":"number","minimum":-2,"maximum":2},"url":{"type":"string","format":"uri"}},"required":["strength"]},"description":"Image prompts to use for the generation"}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"Rolling sand dunes, with the silhouette of a solitary camel caravan at dusk."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/google/nano-banana-2":{"post":{"tags":["Image"],"description":"Cheaper quality version of Nano Banana.\n| Resolution | Compute Units |\n|------------|---------------|\n| 1K | 34.4 |\n| 2K | 57.8 |\n| 4K | 86.5 |\n> **Deprecated request fields:**\n>\n> - `imageUrls` -> `image_urls` until 2026-06-19\n> - `aspectRatio` -> `aspect_ratio` until 2026-06-19\n> - `styleImages` -> `style_images` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"Nano Banana 2","x-krea-deprecated-field-aliases":[{"from":"imageUrls","to":"image_urls","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"aspectRatio","to":"aspect_ratio","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"styleImages","to":"style_images","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":3},"width":{"type":"number","description":"Width of the generated image."},"height":{"type":"number","description":"Height of the generated image."},"image_urls":{"type":"array","items":{"type":"string","format":"uri"},"description":"Image prompts to use for the generation. If provided, style images are ignored."},"aspect_ratio":{"type":"string","enum":["4:1","21:9","1:1","4:3","3:2","2:3","5:4","4:5","3:4","16:9","9:16","1:4","1:8"]},"resolution":{"type":"string","enum":["1K","2K","4K"],"default":"1K"},"style_images":{"type":"array","items":{"type":"object","properties":{"strength":{"type":"number","minimum":-2,"maximum":2},"url":{"type":"string","format":"uri"}},"required":["strength"]},"description":"Image prompts to use for the generation"}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"A sprawling vineyard, with a rustic chateau overlooking the grape-laden vines."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/google/nano-banana":{"post":{"tags":["Image"],"description":"Most versatile intelligent model.\n| Compute Units |\n|---------------|\n| 22.3 |\n> **Deprecated request fields:**\n>\n> - `imageUrls` -> `image_urls` until 2026-06-19\n> - `aspectRatio` -> `aspect_ratio` until 2026-06-19\n> - `styleImages` -> `style_images` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"Nano Banana","x-krea-deprecated-field-aliases":[{"from":"imageUrls","to":"image_urls","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"aspectRatio","to":"aspect_ratio","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"styleImages","to":"style_images","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"width":{"type":"number","description":"Width of the generated image."},"height":{"type":"number","description":"Height of the generated image."},"image_urls":{"type":"array","items":{"type":"string","format":"uri"},"description":"Image prompts to use for the generation. If provided, style images are ignored."},"aspect_ratio":{"type":"string","enum":["21:9","1:1","4:3","3:2","2:3","5:4","4:5","3:4","16:9","9:16"]},"style_images":{"type":"array","items":{"type":"object","properties":{"strength":{"type":"number","minimum":-2,"maximum":2},"url":{"type":"string","format":"uri"}},"required":["strength"]},"description":"Image prompts to use for the generation"}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"Seaside town at dusk, lantern boats setting sail, echoing serene slice-of-life anime aesthetics."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/bfl/flux-1.1-pro":{"post":{"tags":["Image"],"description":"Advanced yet efficent model from BFL.\n| Compute Units |\n|---------------|\n| 22.9 |","summary":"Flux 1.1 Pro","parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"width":{"type":"number","minimum":256,"maximum":1440},"height":{"type":"number","minimum":256,"maximum":1440},"seed":{"type":"number","default":1337}},"required":["prompt","width","height"],"additionalProperties":false},"example":{"prompt":"Rolling countryside with magical bathhouses and whispering forests, reminiscent of a Ghibli masterpiece.","width":1024,"height":1024}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/bfl/flux-1.1-pro-ultra":{"post":{"tags":["Image"],"description":"BFL's highest quality text to image model.\n| Compute Units |\n|---------------|\n| 34.4 |","summary":"Flux 1.1 Pro Ultra","parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"width":{"type":"number","minimum":512,"maximum":8192,"default":1024},"height":{"type":"number","minimum":512,"maximum":8192,"default":1024},"seed":{"type":"number","default":1337},"raw":{"type":"boolean","default":true}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"Cobblestone streets of a medieval town, with lanterns lighting up historic facades."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/ideogram/ideogram-2-turbo":{"post":{"tags":["Image"],"description":"Distilled version of Ideogram 2.0\n| Compute Units |\n|---------------|\n| 14.3 |","summary":"Ideogram 2.0A Turbo","parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"width":{"type":"number","minimum":512,"maximum":8192,"default":1024},"height":{"type":"number","minimum":512,"maximum":8192,"default":1024},"seed":{"type":"number","default":1337}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"A bayou with moss-draped trees, silent except for the chorus of frogs and crickets."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/ideogram/ideogram-3":{"post":{"tags":["Image"],"description":"Highly aesthetic, general-purpose model.\n| Character Reference | Compute Units |\n|---------------------|---------------|\n| Yes | 85.9 |\n| No | 34.4 |\n> **Deprecated request fields:**\n>\n> - `characterReferenceImages` -> `character_reference_images` until 2026-06-19\n> - `styleImages` -> `style_images` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"Ideogram 3.0","x-krea-deprecated-field-aliases":[{"from":"characterReferenceImages","to":"character_reference_images","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"styleImages","to":"style_images","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"width":{"type":"number","minimum":512,"maximum":8192,"default":1024},"height":{"type":"number","minimum":512,"maximum":8192,"default":1024},"seed":{"type":"number","default":1337},"character_reference_images":{"type":"array","items":{"type":"string","format":"uri"}},"style_images":{"type":"array","items":{"type":"object","properties":{"strength":{"type":"number","minimum":-2,"maximum":2},"url":{"type":"string","format":"uri"}},"required":["strength"]},"description":"Image prompts to use for the generation"}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"Cliff dwellings in Colorado, echoing Anasazi songs."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/google/imagen-3":{"post":{"tags":["Image"],"description":"Google's previous generation image model.\n| Model | Compute Units |\n|-------|---------------|\n| Standard | 22.9 |","summary":"Imagen 3","parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"width":{"type":"number","minimum":512,"maximum":8192,"default":1024},"height":{"type":"number","minimum":512,"maximum":8192,"default":1024},"seed":{"type":"number","default":1337}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"Adobe castles in Mali, sculpted by wind and time's hands."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/google/imagen-4":{"post":{"tags":["Image"],"description":"Google's current generation image model\n| Compute Units |\n|---------------|\n| 22.9 |","summary":"Imagen 4","parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"width":{"type":"number","minimum":512,"maximum":8192,"default":1024},"height":{"type":"number","minimum":512,"maximum":8192,"default":1024},"seed":{"type":"number","default":1337}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"A sunflower field, stretching endlessly, turning in unison towards the sun."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/google/imagen-4-fast":{"post":{"tags":["Image"],"description":"Google's fastest image model\n| Compute Units |\n|---------------|\n| 11.5 |","summary":"Imagen 4 Fast","parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"width":{"type":"number","minimum":512,"maximum":8192,"default":1024},"height":{"type":"number","minimum":512,"maximum":8192,"default":1024},"seed":{"type":"number","default":1337}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"Vibrant marketplace in the heart of a bamboo forest, influenced by traditional anime aesthetics."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/google/imagen-4-ultra":{"post":{"tags":["Image"],"description":"Google's best image model\n| Compute Units |\n|---------------|\n| 34.4 |","summary":"Imagen 4 Ultra","parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"width":{"type":"number","minimum":512,"maximum":8192,"default":1024},"height":{"type":"number","minimum":512,"maximum":8192,"default":1024},"seed":{"type":"number","default":1337}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"Night market under a starry sky, spirits peddling wares, echoing spirited-away vibes."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/runway/gen-4-image":{"post":{"tags":["Image"],"description":"Cinematic image model with references.\n| Compute Units | Average Completion Time |\n|---------------|-------------------------|\n| ~44 | ~38 seconds |\n> **Deprecated request fields:**\n>\n> - `referenceImages` -> `reference_images` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"Runway Gen-4","x-krea-deprecated-field-aliases":[{"from":"referenceImages","to":"reference_images","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1,"maxLength":1000},"width":{"type":"number","minimum":512,"maximum":8192,"default":1024},"height":{"type":"number","minimum":512,"maximum":8192,"default":1024},"seed":{"type":"number","default":1337},"reference_images":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"tag":{"type":"string","pattern":"^[a-z][a-z0-9_]+$","minLength":3,"maxLength":16}},"required":["url","tag"]},"minItems":1,"maxItems":3}},"required":["prompt","reference_images"],"additionalProperties":false},"example":{"prompt":"A bustling boardwalk beside a tranquil beach, with carnival lights twinkling at dusk."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/openai/gpt-image":{"post":{"tags":["Image"],"description":"Original ChatGPT image model.\n| Compute Units | Average Completion Time |\n|---------------|-------------------------|\n| ~179 | ~72 seconds |\n> **Deprecated request fields:**\n>\n> - `imageUrls` -> `image_urls` until 2026-06-19\n> - `presetStyles` -> `styles` until 2026-06-19\n> - `styleImages` -> `style_images` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"ChatGPT Image","x-krea-deprecated-field-aliases":[{"from":"imageUrls","to":"image_urls","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"presetStyles","to":"styles","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"styleImages","to":"style_images","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"width":{"type":"number","minimum":512,"maximum":8192,"default":1024},"height":{"type":"number","minimum":512,"maximum":8192,"default":1024},"quality":{"type":"string","enum":["low","medium","high","auto"],"default":"auto"},"image_urls":{"type":"array","items":{"type":"string"}},"styles":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"strength":{"type":"number","minimum":-2,"maximum":2}},"required":["id","strength"]},"maxItems":5},"style_images":{"type":"array","items":{"type":"object","properties":{"strength":{"type":"number","minimum":-2,"maximum":2},"url":{"type":"string","format":"uri"}},"required":["strength"]},"maxItems":15,"description":"Image prompts to use for the generation"}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"A coral atoll, with hues of blue revealing marine life in clear lagoon waters."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/openai/gpt-image-2":{"post":{"tags":["Image"],"description":"Smart powerful model for editing.\n| Compute Units | Average Completion Time |\n|---------------|-------------------------|\n| ~127 | ~55 seconds |\n> **Deprecated request fields:**\n>\n> - `imageUrls` -> `image_urls` until 2026-06-19\n> - `styleImages` -> `style_images` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"ChatGPT 2","x-krea-deprecated-field-aliases":[{"from":"imageUrls","to":"image_urls","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"styleImages","to":"style_images","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"width":{"type":"number"},"height":{"type":"number"},"quality":{"type":"string","enum":["low","medium","high","auto"],"default":"high"},"image_urls":{"type":"array","items":{"type":"string"},"maxItems":10},"style_images":{"type":"array","items":{"type":"object","properties":{"strength":{"type":"number","minimum":-2,"maximum":2},"url":{"type":"string","format":"uri"}},"required":["strength"]},"maxItems":10,"description":"Image prompts to use for the generation"}},"required":["prompt","width","height"],"additionalProperties":false},"example":{"prompt":"Rocky shoreline, with tide pools teeming with life and seabirds soaring above.","width":1024,"height":1024}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/luma/uni-1":{"post":{"tags":["Image"],"description":"Reasoning image model for prompt-faithful text to image.\n| Mode | Reference Images | Compute Units |\n|------|------------------|---------------|\n| standard | 0 | 23.1 |\n| standard | 1 | 24.9 |\n| standard | 2 | 26.6 |\n| standard | 3 | 28.3 |\n| standard | 4 | 30.0 |\n| standard | 5 | 31.7 |\n| standard | 6 | 33.4 |\n| standard | 7 | 35.2 |\n| standard | 8 | 36.9 |\n| standard | 9 | 38.6 |\n| max | 0 | 57.3 |\n| max | 1 | 59.0 |\n| max | 2 | 60.7 |\n| max | 3 | 62.4 |\n| max | 4 | 64.1 |\n| max | 5 | 65.9 |\n| max | 6 | 67.6 |\n| max | 7 | 69.3 |\n| max | 8 | 71.0 |\n| max | 9 | 72.7 |\n> **Deprecated request fields:**\n>\n> - `outputFormat` -> `output_format` until 2026-06-19\n> - `webSearch` -> `web_search` until 2026-06-19\n> - `styleImages` -> `style_images` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"Luma UNI-1","x-krea-deprecated-field-aliases":[{"from":"outputFormat","to":"output_format","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"webSearch","to":"web_search","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"styleImages","to":"style_images","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1,"maxLength":6000},"width":{"type":"number","minimum":512,"maximum":8192,"default":1024},"height":{"type":"number","minimum":512,"maximum":8192,"default":1024},"mode":{"type":"string","enum":["standard","max"],"default":"standard"},"style":{"type":"string","enum":["auto","manga"],"default":"auto"},"output_format":{"type":["string","null"],"enum":["png","jpeg",null]},"web_search":{"type":"boolean","default":false},"style_images":{"type":"array","items":{"type":"object","properties":{"strength":{"type":"number","minimum":-2,"maximum":2},"url":{"type":"string","format":"uri"}},"required":["strength"]},"maxItems":9,"description":"Image prompts to use for the generation"}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"Stepping stones across a tranquil pond, leading to a tea house."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/bytedance/seedream-4":{"post":{"tags":["Image"],"description":"New high quality model for photorealism and text rendering\n| Compute Units |\n|---------------|\n| 17.2 |\n> **Deprecated request fields:**\n>\n> - `styleImages` -> `style_images` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"Seedream 4","x-krea-deprecated-field-aliases":[{"from":"styleImages","to":"style_images","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"width":{"type":"number","maximum":4096},"height":{"type":"number","maximum":4096},"seed":{"type":"number","default":1337},"style_images":{"type":"array","items":{"type":"object","properties":{"strength":{"type":"number","minimum":-2,"maximum":2},"url":{"type":"string","format":"uri"}},"required":["strength"]},"description":"Image prompts to use for the generation"}},"required":["prompt","width","height"],"additionalProperties":false},"example":{"prompt":"A Victorian greenhouse where each pane frames a universe.","width":1024,"height":1024}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/bytedance/seedream-5-lite":{"post":{"tags":["Image"],"description":"Medium quality model with reasoning and web search.\n| Compute Units |\n|---------------|\n| 20.0 |\n> **Deprecated request fields:**\n>\n> - `styleImages` -> `style_images` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"Seedream 5 Lite","x-krea-deprecated-field-aliases":[{"from":"styleImages","to":"style_images","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1},"width":{"type":"number","maximum":4096},"height":{"type":"number","maximum":4096},"seed":{"type":"number","default":1337},"style_images":{"type":"array","items":{"type":"object","properties":{"strength":{"type":"number","minimum":-2,"maximum":2},"url":{"type":"string","format":"uri"}},"required":["strength"]},"maxItems":14,"description":"Image prompts to use for the generation"}},"required":["prompt","width","height"],"additionalProperties":false},"example":{"prompt":"Maori marae in New Zealand, carvings guarding ancient lore.","width":1024,"height":1024}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/qwen/2512":{"post":{"tags":["Image"],"description":"Affordable medium quality model.\n| Compute Units | Average Completion Time |\n|---------------|-------------------------|\n| ~9 | ~22 seconds |\n> **Deprecated request fields:**\n>\n> - `skipPromptExpansion` -> `skip_prompt_expansion` until 2026-06-19\n> - `presetStyles` -> `styles` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"Qwen 2512","x-krea-deprecated-field-aliases":[{"from":"skipPromptExpansion","to":"skip_prompt_expansion","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"presetStyles","to":"styles","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string"},"negative_prompt":{"type":"string","default":""},"width":{"type":"integer","default":1024},"height":{"type":"integer","default":1024},"num_inference_steps":{"type":"integer","default":30},"cfg_scale":{"type":"number","default":4},"seed":{"type":"number"},"skip_prompt_expansion":{"type":"boolean"},"styles":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"strength":{"type":"number","minimum":-2,"maximum":2}},"required":["id","strength"]},"description":"Styles (typically LoRAs) to use for the generation"}},"required":["prompt"],"additionalProperties":false},"example":{"prompt":"Majestic fjords with small fishing villages nestled at their bases."}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/image/z-image/z-image":{"post":{"tags":["Image"],"description":"Fastest model. Realistic, low diversity.\n| Compute Units | Average Completion Time |\n|---------------|-------------------------|\n| ~1 | ~5 seconds |\n> **Deprecated request fields:**\n>\n> - `presetStyles` -> `styles` until 2026-06-19\n> - `skipPromptExpansion` -> `skip_prompt_expansion` until 2026-06-19\n> - `aspectRatio` -> `aspect_ratio` until 2026-06-19\n> - `imageUrl` -> `image_url` until 2026-06-19\n> - `styleImages` -> `style_images` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"Z Image","x-krea-deprecated-field-aliases":[{"from":"presetStyles","to":"styles","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"skipPromptExpansion","to":"skip_prompt_expansion","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"aspectRatio","to":"aspect_ratio","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"imageUrl","to":"image_url","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"},{"from":"styleImages","to":"style_images","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string"},"seed":{"type":"number"},"denoising_strength":{"type":"number","minimum":0,"maximum":1,"default":0.6},"styles":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"strength":{"type":"number","minimum":-2,"maximum":2}},"required":["id","strength"]},"description":"Styles (typically LoRAs) to use for the generation"},"skip_prompt_expansion":{"type":"boolean","default":false},"aspect_ratio":{"type":"string","enum":["1:1","4:3","2:3","16:9","9:16"],"description":"Aspect ratio. One of: 1:1, 4:3, 2:3, 16:9, 9:16."},"resolution":{"type":"string","enum":["1K"],"description":"Resolution scale. One of: 1K."},"image_url":{"type":["string","null"],"format":"uri"},"style_images":{"type":"array","items":{"type":"object","properties":{"strength":{"type":"number","minimum":-2,"maximum":2},"url":{"type":"string","format":"uri"}},"required":["strength"]},"maxItems":1,"description":"Image prompts to use for the generation"}},"required":["prompt","aspect_ratio","resolution"],"additionalProperties":false},"example":{"prompt":"Bustling train station, portals to different realms, in the style of adventure anime.","aspect_ratio":"1:1","resolution":"1K"}}}},"responses":{"200":{"description":"The resulting job data. This will be returned in a pending state until the job is completed. See [`/jobs/{id}`](#tag/default/get/jobs/{id}) for retrieving the results.","content":{"application/json":{"schema":{"type":"object","properties":{"job_id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["backlogged","queued","scheduled","processing","sampling","intermediate-complete","completed","failed","cancelled"]},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"null"},"result":{"type":"null"}},"required":["job_id","status","created_at","completed_at","result"]}}}},"400":{"description":"The request body is invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"You are not authenticated.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"402":{"description":"You have run out of credits.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"429":{"description":"You have reached the maximum number of concurrent jobs.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/generate/enhance/topaz/generative-enhance":{"post":{"tags":["Image Enhance"],"description":"Most powerful creative enhancer. Max 16K.\n> **Deprecated request fields:**\n>\n> - `imageUrl` -> `image_url` until 2026-06-19\n>\n> Deprecated fields are accepted for compatibility only and are not shown in the request schema.\n","summary":"Topaz Generative","x-krea-deprecated-field-aliases":[{"from":"imageUrl","to":"image_url","sunset_date":"2026-06-19","reason":"Public API request fields are moving to snake_case.","migration_url":"https://docs.krea.ai/developers/deprecations#public-api-snake-case-fields"}],"parameters":[{"name":"X-Webhook-URL","in":"header","required":false,"schema":{"type":"string","format":"uri"},"description":"URL to receive a POST request when the job completes. The webhook will receive the job data including results."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","default":""},"width":{"type":"number","minimum":1,"maximum":32000},"height":{"type":"number","minimum":1,"maximum":32000},"seed":{"type":"number","default":1337},"image_url":{"type":"string","format":"uri"},"model":{"type":"string","enum":["Redefine","Recovery","Recovery V2","Reimagine"],"default":"Redefine"},"output_format":{"type":"string","enum":["png","jpg","webp"],"default":"jpg"},"subject_detection":{"type":"string","enum":["All","Foreground","Background"],"default":"All"},"face_enhancement":{"type":"boolean","default":false},"face_enhancement_creativity":{"type":"number","minimum":0,"maximum":1,"default":0.5},"face_enhancement_strength":{"type":"number","minimum":0,"maximum":1,"default":0.5},"crop_to_fill":{"type":"boolean","default":false},"upscaling_activated":{"type":"boolean","default":false},"image_scaling_factor":{"type":"number","minimum":1,"maximum":32,"default":1},"creativity":{"type":"integer","minimum":1,"maximum":6,"default":3},"texture":{"type":"integer","minimum":1,"maximum":5,"default":3},"sharpen":{"type":"number","minimum":0,"maximum":1,"default":0.5},"denoise":{"type":"number","minimum":0,"maximum":1,"default":0.5},"detail":{"type":"number","minimum":0,"maximum":1,"default":0.5}},"required":["width","height","image_url"],"additionalProperties":false},"example":{"width":1024,"height":1024,"image_url":"https://gen.kr
[...]
